.card {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  width: 16.6em;
  border: 1px solid #fff;
}

.cardContent {
  position: absolute;
  width: -webkit-fill-available;
  text-align: center;
}
.cardDescription {
  width: 14em;
  padding: 0 0.5em;
  border-radius: 7px;
  background-color: rgb(30, 35, 40);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 0.5em;
}
.footer {
  position: absolute;
  bottom: 1em;
}