.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #232323;
}
.ul {
  display: flex;
  gap: 30px;
  padding: 0 2.5em 0 2.5em;
}
.icon {
  color: white;
  width: 2em;
  height: 2em;
}
.active {
  color: #c89b3c;
}
.iconPush {
  color: #c89b3c;
  width: 2em;
  height: 2em;
}